{% extends "bootstrap/base.html" %}

{% block title %}FM{% endblock %}

{% block head %}

    {{ super() }}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% assets "common_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

{% endblock %}


{% block navbar %}
    <div class="header">
        <div class="topnav">
            <h1>
                <a href="/" class="logo"><i class="fa fa-skyatlas"></i> FMEA</a>
            </h1>
            <div class="top-panel">
                {% if current_user.is_authenticated and current_user.confirmed %}
                    <ul class="top-menu pandect-menu">
                        <li class="custom-item {% block main %}{% endblock %}">
                            <a href="{{ url_for('main.my_file_list') }}"><i class="glyphicon glyphicon-home"></i>
                                我的文件</a>
                        </li>

                        {#                            temp list #}
                        {#                        <li class="custom-item {% block temps %}{% endblock %}">#}
                        {#                            <a href="{{ url_for('temps.temps_list') }}"><i class="glyphicon glyphicon-download-alt"></i> 公共模板</a>#}
                        {#                        </li>#}

                        {% if current_user.is_admin() %}
                            <li class="custom-item {% block manage %}{% endblock %}">
                                <a href="{{ url_for('manage.config_list') }}"><i
                                        class="glyphicon glyphicon-asterisk"></i> 管理</a>
                            </li>
                        {% endif %}


                        <li class="custom-item {% block help %}{% endblock %}">
                            <a href="{{ url_for('help.doc_list') }}"><i class="glyphicon glyphicon-question-sign"></i>
                                帮助</a>
                        </li>

                        <li class="custom-item {% block contact %}{% endblock %}">
                            <a href="{{ url_for('contact.contract_way') }}"><i class="glyphicon glyphicon-earphone"></i>
                                联系方式</a>
                        </li>
                    </ul>
                {% endif %}


                <ul class="nav navbar-nav navbar-right pull-right" style="margin: 0;">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {% if current_user.is_authenticated %}
                                    <i class="glyphicon glyphicon-user"></i>&nbsp;{{ current_user.username }}
                                {% endif %} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void (0)" class="update-pwd">修改密码</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="top-menu user-menu">
                    <li><a href="#"></a></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid-base" style="left: 0">
        {% block base_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}

    {{ super() }}
    {#    <script src="{{ url_for('static', filename='vendor/bootstrap/jquery.min.js') }}"></script>#}
    {#    <script src="{{ url_for('static', filename='vendor/bootstrap/bootstrap.min.js') }}" ></script>#}

    {{ moment.include_moment('2.10.3', '/static/vendor/moment/moment-with-locales.min.js') }}
    {% assets "common_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="{{ url_for("static", filename="js/modal.js") }}"></script>
{% endblock %}


