{% extends "base.html" %}
{% import 'macro_form.html' as render_form %}

{% block main %}cur{% endblock %}



{% block page_content %}
    <div class="aside">
        <div class="menu">
            <h2><span>我的文件</span></h2>
            <hr class="line-mod">
            <dl class="menu-list">
                <dd>
                    <a href="{{ url_for('.my_file_list') }}"
                       class="menu-lv2 {% block main_file_act %}{% endblock %}">
                        <span>文件列表</span>
                    </a>
                </dd>
                <dd>
                    <a href="{{ url_for('.last_file_list') }}"
                       class="menu-lv2 {% block main_last_file %}{% endblock %}">
                        <span>最近修改</span>
                    </a>
                </dd>
                <dd>
                    <a href="#" class="menu-lv2">
                        <span>我的收藏</span>
                    </a>
                </dd>
            </dl>
        </div>
        <a href="javascript:void(0)" class="btn-fold-menu" title="收起">收起</a>
    </div>

    <div class="main">
        <div class="console-container">
            {% block main_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}

    {{ super() }}
    <script src="{{ url_for("static", filename="js/gojs/go.js") }}"></script>
    {% assets "go_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="{{ url_for('static', filename='js/main/file.js') }}"></script>
{% endblock %}