{% extends "main.html" %}

{% block main_file_act %}act{% endblock %}

{% block main_content %}
    {% include 'main/modals/select_product.html' %}
    {% include 'main/modals/add_process.html' %}
    {% include 'main/modals/add_content.html' %}

    <div class="col-sm-12 console-title clearfix">
        <div class="pull-left">
            {% if not product %}
                <h4>新建文件</h4>
            {% else %}
                <h4>编辑文件</h4>
            {% endif %}
            <a href="{{ url_for('.my_file_list') }}" class="btn btn-xs btn-toinstlist">
                <span class="icon-toinstlist"></span>
                <span>返回</span>
            </a>
        </div>
    </div>

    <div class="col-sm-12 padding-0">
        <div class="row">
            <div class="col-sm-6">

                <div class="panel-border">
                    <div class="charttable-title">
                        <span class="title-text">结构树编辑区
                            {% if not product %}
                                <a href="javascript:void (0)"
                                   class="btn btn-primary btn-xs pull-right add-product">添加</a>
                            {% endif %}

                        </span>
                    </div>
                    <div class="charttable-w">
                        <div id="myDiagramStructure" style="min-height: 400px"></div>
                    </div>
                </div>


                <div class="panel-border" style="margin-top: 10px">
                    <div class="charttable-title">
                        <span class="title-text">属性编辑区</span></div>
                    <div class="charttable-w">
                        <div style="min-height: 300px">
                            <div class="col-sm-12">
                                {% if edit_form %}
                                    <form method="post" class="form-horizontal">
                                        {{ edit_form.hidden_tag() }}
                                        <div class="form-group">
                                            <div class="col-sm-2">{{ render_form.input_label(edit_form.company_name) }}</div>
                                            <div class="col-sm-8">{{ render_form.input(edit_form.company_name) }}</div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">{{ render_form.input_label(edit_form.project_location) }}</div>
                                            <div class="col-sm-8">{{ render_form.input(edit_form.project_location) }}</div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">{{ render_form.input_label(edit_form.consumer) }}</div>
                                            <div class="col-sm-8">{{ render_form.input(edit_form.consumer) }}</div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">{{ render_form.input_label(edit_form.name) }}</div>
                                            <div class="col-sm-8">{{ render_form.input(edit_form.name) }}</div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                {{ edit_form.submit(class="btn btn-primary pull-right submit_attr") }}
                                            </div>
                                        </div>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-6">
                <div class="panel-border">
                    <div class="charttable-title">
                        <span class="title-text">功能树、失效树编辑区</span></div>
                    <div class="charttable-w">
                        <div id="myDiagramFunc" style="min-height: 750px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

    {{ super() }}
    <script src="{{ url_for('static', filename='js/main/file_tree.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main/func_or_failure_tree.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main/show_content.js') }}"></script>
    <script>
        product_id = "{{ product.id if product else '' }}"
    </script>

{% endblock %}