<div tabindex="-1" class="modal fade" id="add-process">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">新增过程</h3>
                </div>

                <div class="modal-body clearfix">
                    <div class="row" style="margin: 20px; margin-top: 0;margin-bottom: 0">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th width="100">项目</th>
                                <th width="100">值</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if process_list %}
                                {% for name, pro in process_list.items() %}
                                    <tr>
                                        <td>
                                            {{ pro.name_zh }}

                                        </td>

                                        <td>
                                            {% for value in pro.content %}
                                                <div>
                                                <label class="label-border text-center" style="width: 125px;cursor: pointer"> {{ value.name_zh }}</label>
                                                </div>

                                            {% endfor %}
                                        </td>


                                    </tr>
                                {% endfor %}


                            {% else %}
                                <tr>
                                    <td style="padding: 50px 0" colspan="3" align="center">
                                        <span>没有记录</span>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary submit_product">确定</button>
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>