<div tabindex="-1" class="modal fade" id="add-process">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">新增过程</h3>
                </div>

                <div class="modal-body clearfix">
                    <input type="hidden" name="level" value="">

                    <div class="row" style="margin: 20px; margin-top: 0;margin-bottom: 0">
                        <table class="table table-hover table-bordered table-process">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>