<div tabindex="-1" class="modal fade" id="add-process">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">新增过程</h3>
                </div>

                <div class="modal-body clearfix">
                    <input type="text" name="level" value="">

                    <div class="row" style="margin: 20px; margin-top: 0;margin-bottom: 0">
                        <table class="table table-hover table-bordered table-process">
                            <tbody>
{#                            {% if process_list %}#}
{#                                {% for name, pro in process_list.items() %}#}
{#                                    <tr>#}
{#                                        <td>#}
{#                                            {{ pro.name_zh }}#}
{##}
{#                                        </td>#}
{##}
{#                                        <td>#}
{#                                            {% for value in pro.content %}#}
{#                                                <div>#}
{#                                                    {% if name == 'structural_analysis' %}#}
{#                                                        <label class="label-border text-center show-content"#}
{#                                                               style="width: 125px;cursor: pointer"> {{ value.name_zh }}#}
{#                                                        </label>#}
{##}
{#                                                    {% elif name == 'functional_analysis' %}#}
{#                                                        <label data-type="func" class="label-border text-center show-content"#}
{#                                                               style="width: 125px;cursor: pointer"> {{ value.name_zh }}</label>#}
{#                                                    {% elif name == 'failure_analysis' %}#}
{#                                                        <label data-type="failure" class="label-border text-center show-content"#}
{#                                                               style="width: 125px;cursor: pointer"> {{ value.name_zh }}</label>#}
{#                                                    {% else %}#}
{#                                                        <label class="label-border text-center show-content"#}
{#                                                               style="width: 125px;cursor: pointer"> {{ value.name_zh }}</label>#}
{#                                                    {% endif %}#}
{##}
{#                                                </div>#}
{##}
{#                                            {% endfor %}#}
{#                                        </td>#}
{##}
{##}
{#                                    </tr>#}
{#                                {% endfor %}#}
{##}
{##}
{#                            {% else %}#}
{#                                <tr>#}
{#                                    <td style="padding: 50px 0" colspan="3" align="center">#}
{#                                        <span>没有记录</span>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            {% endif %}#}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>