<style>
    .form-group {
        margin-bottom: 8px;
    }

    .col-sm-8 label {
        display: block;
    }
</style>

{% macro html_title(title) %}
    <div class="console-sub-title clearfix">
        <div class="pull-left">
            <span>{{ title }}</span>
        </div>
    </div>
{% endmacro %}

{% macro html_content() %}
    <div class="form-group">
        <div class="col-sm-3">
            <label for="" class="control-label pull-right">
                <span class="text-danger">*</span><span>名称:</span>
            </label>
        </div>
        <div class="col-sm-8">
            <label><input name="name" type="text" class="form-control pull-left" required></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label for="" class="control-label pull-right"><span>发生度评估:</span></label>
        </div>
        <div class="col-sm-8">
            <label>
                <select name="current_assess" class="form-control pull-left">
                    <option value="1">级别1</option>
                    <option value="2">级别2</option>
                    <option value="3">级别3</option>
                    <option value="4">级别4</option>
                    <option value="5">级别5</option>
                    <option value="6">级别6</option>
                    <option value="7">级别7</option>
                    <option value="8">级别8</option>
                    <option value="9">级别9</option>
                    <option value="10">级别10</option>
                </select>
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label for="" class="control-label pull-right"><span>AP行动优先级:</span></label>
        </div>
        <div class="col-sm-8">
            <label><input name="ap_priority" class="form-control pull-left"></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label for="" class="control-label pull-right"><span>备注:</span></label>
        </div>
        <div class="col-sm-8">
            <label><input name="description" class="form-control pull-left"></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label for="" class="control-label pull-right"><span>帮助:</span></label>
        </div>
        <div class="col-sm-8">
            <label><input name="help" class="form-control pull-left"></label>
        </div>
    </div>
{% endmacro %}

<div tabindex="-1" class="modal fade" id="action_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title"></h3>
                </div>

                <div class="modal-body clearfix">
                    <form class="form-horizontal" name="form">
                        <input name="name_number" value="">
                        <div class="rest_form">

                            <div>
                                {{ html_title('当前措施组--预防措施') }}
                                <div class="col-sm-12  ram-overview-block current_preventive_action">
                                    {{ html_content() }}
                                </div>

                            </div>

                            <hr>

                            <div>

                                {{ html_title('当前措施组--探测措施') }}
                                <div class="col-sm-12 ram-overview-block current_probe_action">
                                    {{ html_content() }}
                                </div>

                            </div>

                            <hr>

                            <div>

                                {{ html_title('优化措施组--预防措施') }}
                                <div class="col-sm-12 ram-overview-block optimize_preventive_action">
                                    {{ html_content() }}
                                </div>

                            </div>

                            <hr>

                            <div>
                                {{ html_title('优化措施组--探测措施') }}
                                <div class="col-sm-12 ram-overview-block optimize_probe_action">
                                    {{ html_content() }}

                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary submit_action">确定</button>
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>