<div tabindex="-1" class="modal fade" id="edit-tree-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title"></h3>
                </div>

                <div class="modal-body clearfix">
                    <input name="id" value="" type="hidden">

                    <div class="row" style="min-height: 500px">
                        <div id="edit-tree" style="min-height: 480px"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary submit-tree-edit">确定</button>
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>