{% extends "contact.html" %}

{% block contact_ways %}act{% endblock %}

{% block contact_content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="console-title clearfix bline" style="min-height: 50px">
                <div class="pull-left"><h4>联系方式</h4></div>

            </div>
        </div>

        <div class="col-sm-12" style="margin-top: 20px">
            <div style="font-size: 14px">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="label label-default">地址</span>
                        <span class="text-explode">|</span>
                        <span>{{ contact.address }}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default">邮件</span>
                        <span class="text-explode">|</span>
                        <span><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></span>
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default">电话</span>
                        <span class="text-explode">|</span>
                        <span>{{ contact.phone }}</span>
                    </li>
                    <li class="list-group-item">
                        <span class="label label-default">传真</span>
                        <span class="text-explode">|</span>
                        <span>{{ contact.fax }}</span></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}


{% block head %}

    {{ super() }}
    <style>
        .text-explode {
            padding-left: 20px;
        }
    </style>
{% endblock %}
