{% extends "manage.html" %}

{% block manage_config %}act{% endblock %}

{% block manage_content %}

    <div class="col-sm-12 console-title bline clearfix">
        <div class="pull-left">
            <h4>修改属性</h4>
            <a href="{{ url_for('.config_list') }}" class="btn btn-xs btn-toinstlist">
                <span class="icon-toinstlist"></span>
                <span>返回</span>
            </a>
        </div>
    </div>

    <div class="col-sm-12" style="margin-top: 10px">
        <form method="post" class="form-horizontal">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <div class="col-sm-2">{{ render_form.input_label(form.name) }}</div>
                <div class="col-sm-3">{{ render_form.input(form.name) }}</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">{{ render_form.input_label(form.type) }}</div>
                <div class="col-sm-3">{{ render_form.input(form.type) }}</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"><label class="control-label pull-right">属性内容:</label></div>
                <div class="col-sm-10" style="color: #666">

                    <table class="table table-hover table-filter">
                        <thead>
                        <tr>
                            <th>属性字段</th>
                            <th>对应中文</th>
                            <th>必需字段</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% if attr_info and attr_info.content %}
                                {% for attr in attr_info.content | to_dict %}
                                    <tr>
                                        <td><input name="field" class="td-input" required value="{{ attr['field'] }}"/></td>
                                        <td><input name="field_zh" class="td-input" required value="{{ attr['field_zh'] }}"/></td>
                                        <td><input name="required" type="checkbox" class="td-input" value="y"
                                                   {% if attr['required'] %}checked{% endif %}/></td>

                                        <td><a href="javascript:void(0);" class="td-remove">移除</a></td>
                                    </tr>
                                {% endfor %}

                            {% endif %}
                        </tr>
                        <tr>

                            <td colspan="4" style="font-size: 15px">
                                <a class="monitor-dialog-add" href="javascript:void(0)">
                                    <i class="blue-add-icon"></i>
                                    <span class="td-add" style="position: relative;top: -1px;">添加</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                    <button class="btn btn-primary">保存</button>
                    <a href="{{ url_for('.config_list') }}" class="btn btn-default" style="margin-left: 20px">取消</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}

    {{ super() }}
    <script src="{{ url_for('static', filename='js/manage/add_attr.js') }}"></script>
{% endblock %}